<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventFriend</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="d-flex align-items-center">
        <img src="/images/eventlogo.png" alt="Logo" class="me-2 header-logo">
        
        <style>
          .header-logo {
            width: 200px;      /* Adjust width as needed */
            height: auto;     /* Maintain aspect ratio */
          }
        </style>
      </div>
    <nav class="main-nav">
        <a href="/">Home</a>
        <% if (user) { %>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        <% } %>
    </nav>
