<!DOCTYPE html>
<section class="vh-100 gradient-custom">
    <style>
        .gradient-custom {
        /* fallback for old browsers */
        background: #46cb11;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgb(105, 236, 186), rgb(102, 252, 37));

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgb(201, 249, 207), rgb(184, 252, 37))
        }
    </style>

</section>


<form action="/login" method="POST">
    <% if (messages.error) { %>
        <div class="alert alert-danger">
            <strong><%=messages.error%></strong>
        </div>
    <% } %>
    <h1>Login to EventFriend</h1>
    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input type="email" name="email" id="form2Example2" class="form-control" />
      <label class="form-label" for="form2Example1">Email address</label>
    </div>
  
    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input type="password" name="password" id="form2Example31" class="form-control" />
      <label class="form-label" for="form2Example31">Password</label>
    </div>
  
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      
  
      <div class="col">
        <!-- Simple link -->
        <a href="#!">Forgot password?</a>
      </div>
    </div>
  
    <!-- Submit button -->
    <!--<a href="home">-->
    <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign in</button>
    <!--</a>-->
  
    <!-- Register buttons -->
    <div class="text-center">
        <p class="mb-0">Don't have an account? <a href="/register" class="text-white-50 fw-bold">Sign Up</a>
        </p>
    </div>
  </form>
  </html>